html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background: linear-gradient(45deg, #F17C58, #e99445, #9d49e7, #efb3fb);
    /* background: linear-gradient(45deg, #F17C58, #e99445, #24AADB, #27DBB1); */
    /* height: inherit; */
    justify-content: center;
    align-items: center;
    /* display: flex; */
    height: 100%;
}

.logo {
    position: relative;
    width: 5%;
    left: 10px;
    top: 10px;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    
}

.wrapper {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    width: 95%;
    
    border-radius: 16px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.34);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    backdrop-filter: blur(4px);
}

.form-container {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    border: 2px solid rgb(184, 5, 255);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.3);
}

.form-block {
    width: 100%;
    display: block;
    padding: 15px;
    
    /* justify-content: space-between; */
    gap: 15px;
    overflow: hidden;
    
}

option {
    border: 2px solid rgb(184, 5, 255);
    border-radius: 6px;
}

option:hover, option:active, option:focus, option::before {
    background: rgba(84, 5, 255, 0.6);
}

select {
    overflow: hidden;
}

.form-description {
    text-align: center;
    /* width: 30%; */
    /* flex-grow: 0; */
}

.class-button-container {
    max-width: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.class-button {
    min-width: 30%;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgb(184, 5, 255);
    border-radius: 6px;
    margin: 2px;
}

.class-button:hover {
    background: rgba(84, 5, 255, 0.6);
}

.class-button-activated {
    background: rgba(84, 5, 255, 0.6);
}

.form-select {
    width: 100%;
    display: flex;
    flex-grow: 1;
    border: 2px solid rgb(184, 5, 255);
    border-radius: 6px;
}

.form-grade1,.form-grade2,.form-grade3,.form-grade4,.form-grade5,.form-grade6,
.form-grade7,.form-grade8,.form-grade9,.form-grade10,.form-grade11 {
    display: none;
}

.form-grade {
    display: flex;
}

.select-style {
    max-width: 100%;
    flex-grow: 1;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.34);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.select-subject:active {
    background: rgba(255, 255, 255, 0.8);
}

/* .button-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    width: 100%;
}

.search {
    min-width: 30%;
    background: rgb(162, 0, 255);
    border: 1px solid rgba(63, 15, 15, 0.34);
    border-radius: 6px;
    color: white;
} */

.screen {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* flex-shrink: 1; */
    border: 2px solid rgb(184, 5, 255);
    border-left: none;
    border-radius: 6px;
    /* background: rgba(255, 255, 255, 0.6); */
}

.row-grid-header {
    display: flex;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid rgb(184, 5, 255);
    background: rgba(84, 5, 255, 0.6);
}

.col-grid-header {
    border-right: 2px solid rgb(184, 5, 255);
}

.row-grid {
    display: flex;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgb(184, 5, 255);
}

.row-grid:last-child {
    border-bottom: none;
}

.col-grid {
    flex-shrink: 1;
    border-right: 2px solid rgb(184, 5, 255);
    
    background: rgba(255, 255, 255, 0.6);
}

.col-grid:first-child {
    min-width: 71%;
}

.col-grid:nth-child(2) {
    min-width: 15%;
}

.col-grid:nth-child(3) {
    min-width: 7%;
}

.col-grid:last-child {
    min-width: 7%;
    border-right: none;
    border-bottom: none;
}

.col-link {
    color: black;
    background: none;
}

.col-link:hover {
    background: rgba(84, 5, 255, 0.6);
}

@media (max-width: 800px) {
    .body{
        max-width: 300px;
    }
    .container {
        margin: 0 auto;
        width: 90%;
        padding: 10px;
        font-size: 10px;
    }

    .wrapper {
        display: block;
    }

    .form-block {
        display: block;
    }

    .logo {
        display: none;
    }

    .form-select {
        /* display: block; */
        max-width: 100%;
        /* min-width: 100%; */
    }

    .select-style {
        /* display: block; */
        
    }
}